# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CrossDdQueryFs.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
.idea\.idea.CrossDdQueryFs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
